<h1>Will's Portfolio</h1>

{% load static %} <!--allows for access to image contained in static folder-->
<img src= "{% static 'dinertablephoto.JPEG' %}">

<!-- django template for loop syntax-->
{% for project in projects %}

<h2>{{ project.title }}</h2> <!--displays project-->
<p>{{ project.description }}</p>
<img src ="{{ project.image.url }}">
{% if project.url %} <!-- displays link if url provided to admin page in project tab-->
<a href="{{ project.url }}">Link</a>
{% endif %}

{% endfor %}